[Unit]
Description=Traefik Reverse Proxy for Pangolin
Requires=pangolin.container
After=pangolin.container

[Container]
AutoUpdate=registry
ContainerName=pangolin-traefik
Image=docker.io/traefik:v3.4.1
HostName=traefik
Network=pangolin.network
Secret=pangolin-cloudflare-token,type=env,target=CLOUDFLARE_DNS_API_TOKEN
Secret=pangolin-admin-email,type=env,target=TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_EMAIL
Secret=pangolin-domain-name,type=env,target=DOMAIN_NAME
Volume=/var/lib/orches/repo/pangolin/config/traefik:/etc/traefik:ro,z
Volume=/var/lib/orches/repo/pangolin/config/letsencrypt:/letsencrypt,z
Volume=/var/lib/orches/repo/pangolin/config/traefik/logs:/var/log/traefik,z
AddPort=443:443

Exec=--configFile=/etc/traefik/traefik_config.yml
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
