[Unit]
Description=Gerbil wireguard server for Pangolin
Requires=pangolin.container
After=pangolin.container

[Container]
AutoUpdate=registry
ContainerName=pangolin-gerbil
Image=docker.io/fosrl/gerbil:1.0.0
HostName=gerbil
Network=pangolin.network
Volume=/var/lib/orches/repo/pangolin/config:/app/config:z
Exec=--reachableAt=http://gerbil:3003 --generateAndSaveKeyTo=/var/config/key --remoteConfig=http://pangolin:3001/api/v1/gerbil/get-config --reportBandwidthTo=http://pangolin:3001/api/v1/gerbil/receive-bandwidth
UserNS=auto
AddPort=51820:51820/udp
AddCapability=NET_ADMIN
AddCapability=SYS_MODULE
X-Version=1

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
