[Unit]
Description=Pangolin Server

[Container]
AutoUpdate=registry
ContainerName=pangolin
Image=docker.io/fosrl/pangolin:1.6.2
HostName=pangolin
Network=pangolin.network
Volume=pangolin-config:/app/config
Volume=/var/lib/orches/repo/pangolin/config/config.yml:/app/config/config.yml:ro,Z,U
HealthCmd=curl -f http://localhost:3001/api/v1/
HealthStartPeriod=30s
HealthInterval=3s
HealthRetries=5
HealthTimeout=3s
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/pangolin/pangolin_setup.sh'

[Install]
WantedBy=default.target
