[Unit]
Description=Pangolin Server

[Container]
AutoUpdate=registry
ContainerName=pangolin
Image=docker.io/fosrl/pangolin:1.6.2
HostName=pangolin
Network=pangolin.network
Secret=pangolin-admin-email,type=env,target=USERS_SERVERADMIN_EMAIL
Secret=pangolin-admin-password,type=env,target=USERS_SERVERADMIN_PASSWORD
Volume=/var/lib/orches/repo/pangolin/config:/app/config:z
HealthCmd=curl -f http://localhost:3001/api/v1/
HealthStartPeriod=30s
HealthInterval=3s
HealthRetries=5
HealthTimeout=3s
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/pangolin/pangolin_setup.sh'

[Install]
WantedBy=default.target
