[Unit]
Description=Gerbil wireguard server for Pangolin
Requires=pangolin.container
After=pangolin.container

[Container]
AutoUpdate=registry
ContainerName=pangolin-gerbil
Image=docker.io/fosrl/gerbil:1.1.0
Pod=pangolin.pod
Volume=/var/lib/orches/repo/pangolin/config:/var/config:z,U
Exec=--reachableAt=http://localhost:3003 --generateAndSaveKeyTo=/var/config/key --remoteConfig=http://localhost:3001/api/v1/gerbil/get-config --reportBandwidthTo=http://localhost:3001/api/v1/gerbil/receive-bandwidth
AddCapability=NET_ADMIN
AddCapability=SYS_MODULE

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
